@model Janeshop.Models.TBL_OWNER
@{
    ViewBag.Title = "StoreEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="h5 text-center text-info"><b>แก้ไขข้อมูลร้านค้า</b></div>
<div class="main-content">
    <!-- Page content -->
    @using (Html.BeginForm("StoreEdit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.store_id)
        @Html.HiddenFor(model => model.picture)

        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-12 order-xl-1">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 text-center">                                  
                                        <script type="text/javascript">
                                            function Pic01(input) {
                                                if (input.files && input.files[0]) {
                                                    var reader = new FileReader();

                                                    reader.onload = function (e) {
                                                        $('#image01').attr('src', e.target.result);
                                                    }

                                                    reader.readAsDataURL(input.files[0]);
                                                }
                                            }
                                        </script>
                                        <div class="text-center">
                                            <img id="image01" src="@Url.Content(Model.picture)" alt="" height="100" width="100" />
                                        </div><br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">ชื่อร้านค้า <b style="color: red;"> *</b></label>
                                            @Html.EditorFor(model => model.store_name, new { htmlAttributes = new { id = "store_name", @class = "form-control col-lg-12", @placeholder = "ร้านสินค้า", required = true } })

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">ภาพประกอบ <b style="color: red;"> *</b></label>
                                            @Html.EditorFor(model => model.picture, new { htmlAttributes = new { @type = "file", @name = "picture", @id = "picture", @class = "form-control col-lg-12", @onchange = "Pic01(this);" } })
                                        </div>s         
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">เบอร์โทร <b style="color: red;"> *</b></label>
                                            @Html.EditorFor(model => model.mobile, new { htmlAttributes = new { @class = "form-control col-lg-12", @placeholder = "เบอร์โทร", @type = "number", required = true } })

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">ที่อยู่ </label>
                                            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control col-lg-12", @rows = "2", @placeholder = "ที่อยู่" } })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">ตำบล <b style="color: red;"> *</b></label>
                                            @Html.DropDownListFor(model => model.district_id, ViewBag.district as SelectList, "เลือกตำบล", new { @class = "form-control col-12", required = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">อีเมล์ </label>
                                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control col-lg-12", @type = "email", @placeholder = "อีเมล์" } })
                                        
                                            <small id="emailHelp" class="form-text text-muted">ตัวอย่าง : abc@example.com</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">รหัสผ่าน <b style="color: red;"> *</b></label>
                                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control col-lg-12", @placeholder = "รหัสผ่าน", required = true } })
                                          
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4" />
                            <div class="container">
                                <p align="right">
                                    <button type="submit" class="btn btn-primary col-lg-3" onclick="return confirm('คุณต้องการที่จะบันทึกข้อมูล ใช่หรือไม่')">  --แก้ไขข้อมูล--  </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<br />
