@model Janeshop.Models.TBL_BANK
@{
    ViewBag.Title = "BankEdit";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<div class="h4 text-center">แก้ไขข้อมูลธนาคาร</div>
<div class="main-content">
    <!-- Page content -->
    @using (Html.BeginForm("BankEdit", "Store", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.bank_id)
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-12 order-xl-1">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4"> </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">ธนาคาร <b style="color: red;"> *</b></label>
                                            @Html.EditorFor(model => model.bank_name, new { htmlAttributes = new { @class = "form-control col-lg-12", required = true } })
                                            @Html.ValidationMessageFor(model => model.bank_name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4"> </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4"> </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">เลขที่ <b style="color: red;"> *</b></label>
                                            @Html.EditorFor(model => model.bank_number, new { htmlAttributes = new { @class = "form-control col-lg-12", required = true } })
                                            @Html.ValidationMessageFor(model => model.bank_number, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4"> </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4"> </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">ชื่อบัญชี <b style="color: red;"> *</b></label>
                                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control col-lg-12", required = true } })
                                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4"> </div>
                                </div>
                            </div>
                            <hr class="my-4" />
                            <div class="container">
                                <p align="right">
                                    <button type="submit" class="btn btn-warning col-lg-3" onclick="return confirm('คุณต้องการที่จะบันทึกข้อมูล ใช่หรือไม่')">  --แก้ไขข้อมูล--  </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<br />