@model IEnumerable<Janeshop.Models.Product>
@{
    ViewBag.Title = "ProductShow";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<meta name="viewport" content="width=device-width" />
<h4 class="text-center text-center">ข้อมูลสินค้า</h4>

@if (Model.Count() == 0)
{
    <h4 class="text-danger text-center">ไม่พบข้อมูล</h4>
}
else
{
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">รายการสินค้า</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr class="text-center">
                                <th>ประเภท</th>
                                <th>ชื่อสินค้า</th>
                                <th>ราคา</th>
                                <th>ภาพ</th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr class="table">
                                    <td class="text-center">@Html.DisplayFor(model => item.tbl_product_type.type_name)</td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.tbl_product.product_name)
                                                                        @if (item.tbl_product.status == 1)
                                                                        {
                                                                            <p class="text-danger">(สินค้าหายาก)</p>
                                                                        }
                                    </td>
                                    <td class="text-center">@Html.DisplayFor(model => item.tbl_product.price)</td>
                                    <td class="text-center">
                                        @{
                                            List<string> result = item.tbl_product_picture.picture_url.Split(new char[] { ',' }).ToList();
                                        }
                                        @foreach (var photo in result)
                                        {
                                            if (item.tbl_product_picture.picture_url != null)
                                            {
                                                <a href="@Url.Action("PictureEdit", "Store", new { p_id = item.tbl_product.product_id})" class="btn btn-outline-info">
                                                    <img src="@Url.Content(photo)" style="height:auto;width:45px; border-radius:20px 20px 20px 20px;" />
                                                </a>
                                            }
                                        }
                                            </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("ProductEdit", "Store", new { p_id = item.tbl_product.product_id})" class="btn btn-outline-primary"><i class="fas fa-edit"></i>  </a>
                                        <a href="@Url.Action("ProductDelete","Store" , new {p_id = item.tbl_product.product_id })" class="btn btn-outline-danger" onclick="return confirm('คุณต้องการที่จะลบข้อมูล ใช่หรือไม่')"> &#10008;</a>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}