@using PagedList.Mvc;
@using PagedList;

@model IPagedList<Janeshop.Models.OrderView>
@{
    ViewBag.Title = "SaleShow";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}
<link href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" />
@section scripts {
    <script src="~/Scripts/jquery-1.4.4.min.js"></script><!--เพิ่ม-->
    <script src="~/Scripts/jquery-ui-1.8.10.offset.datepicker.min.js"></script><!--เพิ่ม-->
    <script src="~/Scripts/calendarall.js"></script><!--เพิ่ม script แปลงวันที่ให้เป็น th-->
}

@using (Html.BeginForm("SaleShow", "Store", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text">จาก &nbsp; <i class="fas fa-calendar"></i></span>
                </div>
                @Html.TextBox("M1", DateTime.Today.ToString("dd/MM/yyyy"), new { @class = "datepickerall form-control", required = true })
                &nbsp;&nbsp;&nbsp;
                <div class="input-group-prepend">
                    <span class="input-group-text">ถึง &nbsp;<i class="fas fa-calendar"></i></span>
                </div>
                @Html.TextBox("M2", DateTime.Today.ToString("dd/MM/yyyy"), new { @class = "datepickerall form-control", required = true })
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-2">
            <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i> </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-4 text-right">
            <a href="@Url.Action("SalePrint", "Store")" class="btn btn-info col-lg-6">Print</a>
        </div>
    </div>
}

<br />
<div class="container">
    <div class="h5">
        รายการขาย
    </div>
</div>
@if (Model.Count() == 0)
{
    <h5 class="text-danger text-center"><b>ไม่พบข้อมูล</b></h5>
}
else
{
    foreach (var items in Model)
    {
        <div class="row row-grid">
            <div class="col-xl-12 order-xl-1">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 text-left">
                                    ชื่อลูกค้า @Html.DisplayFor(model => items.tbl_user.fname) @Html.DisplayFor(model => items.tbl_user.lname) <br />
                                    ที่อยู่ @Html.DisplayFor(model => items.tbl_user.address) <br />
                                    เบอร์ @Html.DisplayFor(model => items.tbl_user.mobile)
                                </div>
                                <div class="col-lg-6 text-right">

                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-lg-2">
                                    <img src="@Url.Content(items.tbl_order.picture)" style="height:auto;width:65px; border-radius:5px 5px 5px 5px;" />
                                </div>
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-4">
                                            วันที่/เวลา สั่งซื้อ <br />
                                            @(((DateTime)items.tbl_order.order_time).ToString("dd MMM yy HH:mm")) น.

                                        </div>
                                        <div class="col-4">
                                            ส่งสินค้า <br />
                                            @if (items.tbl_order.order_send != null)
                                            {
                                                <div>
                                                    @(((DateTime)items.tbl_order.order_send).ToString("dd MMM yy HH:mm"))น.
                                                </div>

                                            }
                                        </div>
                                        <div class="col-4">
                                            รับสินค้า <br />
                                            @if (items.tbl_order.order_pickup != null)
                                            {
                                                <div>
                                                    @(((DateTime)items.tbl_order.order_pickup).ToString("dd MMM yy HH:mm")) น.
                                                </div>

                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 text-right">
                                    <h4> @(((decimal)items.tbl_order.total_bill).ToString("C2"))</h4>
                                    <br />
                                    <div class="text-success">ลูกค้าได้รับสินค้าแล้ว</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    }
}