@model IEnumerable<Janeshop.Models.TBL_PRODUCT_TYPE>
@{
    ViewBag.Title = "TypeShow";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}

<meta name="viewport" content="width=device-width" />
<h4 class="text-center">ข้อมูลประเภทสินค้า</h4>

@if (Model.Count() == 0)
{
    <h4 class="text-danger text-center">ไม่พบข้อมูล</h4>
}
else
{

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">รายการประเภทสินค้า</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr class="text-center">
                                <th>ชื่อประเภทสินค้า</th>
                                <th>รูปภาพ</th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                       
                            <tbody>
                                <tr class="table">
                                    <td class="text-center">@Html.DisplayFor(model => item.type_name)</td>
                                    <td class="text-center">
                                        <a href="@Url.Action("TypeEdit", "Store", new { t_id = item.type_id})" class="btn btn-outline-info">
                                            <img src="@Url.Content(item.picture)" style="height:auto;width:45px; border-radius:20px 20px 20px 20px;" />
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("TypeEdit", "Store", new { t_id = item.type_id})" class="btn btn-outline-primary"><i class="fas fa-edit"></i> </a>                                    
                                        <a href="@Url.Action("TypeDelete","Store" , new {t_id = item.type_id })" class="btn btn-outline-danger" onclick="return confirm('คุณต้องการที่จะลบข้อมูล ใช่หรือไม่')"> &#10008;</a>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}